@font-face {
	font-family: 'bariolregular';
	src: url('./fonts/Bariol-Regular-Webfont/bariol_regular-webfont.eot');
	src: url('./fonts/Bariol-Regular-Webfont/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
				url('./fonts/Bariol-Regular-Webfont/bariol_regular-webfont.woff2') format('woff2'),
				url('./fonts/Bariol-Regular-Webfont/bariol_regular-webfont.woff') format('woff'),
				url('./fonts/Bariol-Regular-Webfont/bariol_regular-webfont.ttf') format('truetype'),
				url('./fonts/Bariol-Regular-Webfont/bariol_regular-webfont.svg#bariolregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'bariolregular';
  box-sizing: border-box;
	letter-spacing: 1px;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  color:#272727;
}

body {
  background: #f6f6f6;
  overflow-x: hidden;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

a {
  color: #03a5df;
}

p {
  line-height: 2;
}

article figure img {
  width: 100%;
  height: auto;
}

article h3 {
  font-size: 2rem;
  margin: 0;
}

.tech-logo {
  display: block;
  width: 100%;
  max-height: 75px;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

ul {
  list-style-type: none;
}

ol {
  line-height: 1.5rem;
}

.blog-nav li {
  font-size: .7rem;
  padding: 1rem 0;
}

.svg-container {
  width: 10em;
}
/* 
/* width *
::-webkit-scrollbar {
  width: 15px;
}
/* Track *
::-webkit-scrollbar-track {
  background: #333;
  border-left: 1px solid #e1e1e1;
}
/* Handle *
::-webkit-scrollbar-thumb {
  background: #fcd100;
}
/* Handle on hover *
::-webkit-scrollbar-thumb:hover {
  background: #fcd100;
} */